{% extends 'baseevent.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}

	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/images/ImgKlassEvent/IMG_1167.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">Klass Event</span>
						<h2 class="mb-4 h2-event">Organisation d'événements clef en main</h2>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Background picture -->

	<!-- Account -->

	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-12 text-center heading-section">
					<span class="subheading">Créer</span>
					<h2 class="mb-4">Un compte</h2>
				</div>
			</div>

			{{ include('user/_form.html.twig') }}

			<a href="{{ path('home') }}">Retour à l'Accueil</a>

		</div>

	</section>

	<!-- End Account -->

{% endblock %}
