{% extends 'baseevent.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>mise à jour des infos de votre compte</h1>

	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/ImgKlassEvent/IMG_1167.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">Klass Event</span>
						<h2 class="mb-4 h2-event">Organisation d'événements clef en main</h2>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Background picture -->

    <!-- Account -->

	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-12 text-center heading-section">
					<span class="subheading">Modifier</span>
					<h2 class="mb-4">Mes informations</h2>
				</div>
			</div>
 
    {{ include('account/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('account_show') }}">retour sur mon compte</a>

    {{ include('user/_delete_form.html.twig') }}

			</div>

		</section>

		<!-- End Account -->

{% endblock %}