{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>{{ 'event.account.majPass'|trans }}{# Mise à jour du mot de passe #}</h1>

    {{ include('account/_form.html.twig', {'button_label': 'bouton.modifier'|trans }) }}

    <a href="{{ path('account_show') }}">{{ 'event.account.retourCompte'|trans }}{# retour sur mon compte #}</a>
<br>
{% endblock %}