{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Mise à jour du mot de passe</h1>

    {{ include('account/_form.html.twig', {'button_label': 'form.edit'|trans }) }}

    <a href="{{ path('account_show') }}">{{'form.account.back'|trans}}</a>
<br>
{% endblock %}