{% extends 'baseevent.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<!-- Background picture -->

	<section class="home-slider owl-carousel">
		<div class="slider-item .event-slider" style="background-image:url('{{ asset('build/ImgKlassEvent/IMG_10542.jpg') }}')">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 col-sm-12 text-center">
						<span class="subheading">Klass Event</span>
						<h2 class="mb-4 h2-event">Mariage</h2>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- End Background picture -->

    <!-- Gallery = Blog section -->

		<section class="bg-light">
			<div class="container">

				<div class="row mt-5">
          <div class="col-md-4 ">
            <div class="blog-entry">
              <div class="zoom-gallery"> 
                <a href="blog-single.html" class="block-20 picture-gallery" style="background-image:url('{{ asset('build/images/ImgKlassEvent/Mariage/mariage-1.40525f70.jpeg') }}')">
                </a>
              </div>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                  <div><a href="#">Sept. 06, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Taste the delicious foods in Asia</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-entry">
              <div class="zoom-gallery"> 
                <a href="blog-single.html" class="block-20 picture-gallery" style="background-image:url('{{ asset('build/images/ImgKlassEvent/Mariage/mariage-2.9ab256fd.jpeg') }}')">
                </a>
              </div>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                  <div><a href="#">Sept. 06, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Taste the delicious foods in Asia</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-entry">
              <div class="zoom-gallery"> 
                <a href="blog-single.html" class="block-20 picture-gallery" style="background-image:url('{{ asset('build/images/ImgKlassEvent/Mariage/mariage-3.17b0c0e0.jpeg') }}')">
                </a>
              </div>
              <div class="text pt-3 pb-4 px-4">
                <div class="meta">
                  <div><a href="#">Sept. 06, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                </div>
                <h3 class="heading"><a href="#">Taste the delicious foods in Asia</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>
    <!-- End Gallery -->

{% endblock %}
