{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<h1>Welcome on your project 3</h1>
	<img src="public/images/breakfast-5.02560acf.jpg" alt="Dewey dancing">
{% endblock %}
