<div class="row mr-5">
{% for insta in instagram %}
    <div class="col-4">
        <a href="https://www.instagram.com/klassevent/"><img src="{{ insta.imageThumbnailUrl }}" width="90px" class="picture-insta"></a>
    </div>
{% endfor %}
</div>