<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Accessoire</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Housse en lycra, blanche ou ivoire</td>
      <td>1€</td>
    </tr>
	  <tr>
	    <td>Noeud organza</td>   
      <td>0,60€</td>
    </tr>
  	  <tr>
	    <td>Housse lycra + noeud organza</td>   
      <td>1,20€</td>
    </tr>
  	<tr>
	    <td>Noeud toile de jute</td>      
      <td>1€</td>
    </tr>
  	<tr>
	    <td>Housse lycra + noeud toile de jute</td>   
      <td>1,90€</td>
    </tr>
  </tbody>
</table>



