<table class="table">
  <thead>
    <tr>
      <th scope="col">Type de mange debout</th>
      <th scope="col">Dimensions</th>
      <th scope="col">Couleurs</th>	    
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mange-debout</td>
      <td>Diamètre 60 cm Hauteur 1,10 m</td>
	    <td>Blanc, noir, ivoire</td>      
      <td>10€</td>      
    </tr>
    <tr>
      <td>Mange-debout lumineux</td>
      <td>100% polyester, blanche</td>
	    <td>Housse blanc ou ivoire</td>      
      <td>18€</td>
    </tr>
  </tbody> 
</table>

