<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Type de verre<sup>*</sup></th>
      <th scope="col">Contenance</th>  
      <th scope="col">Caractéristiques</th>  
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Flûte à champagne</td>
      <td>16,5 cl</td>
      <td>Hauteur 16,5 cm Largeur 5 cm</td>     
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Verre à eau</td>
      <td>25 cl</td>
      <td>Hauteur 18 cm Largeur 6,8 cm</td>     
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Verre à vin</td>
      <td>19 cl</td>
      <td>Hauteur 16 cm Largeur 6,1 cm</td>     
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Verre Tumbler</td>
      <td>17 cl</td>
      <td>Hauteur 16,2 cm Largeur 6 cm</td>     
      <td>0,20€</td>      
    </tr> 
  </tbody>   
</table>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Type de couvert<sup>*</sup></th>
      <th scope="col">Caractéristiques</th>  
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Couteau</td>
      <td>Inox 23 cm</td>    
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Fourchette</td>
      <td>22 cm</td>  
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Cuillère à dessert</td>
      <td>20 cm</td> 
      <td>0,20€</td>      
    </tr>
  </tbody>   
</table>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Type d'assiette<sup>*</sup></th>
      <th scope="col">Caractéristiques</th>  
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Assiette ronde pour plat</td>
      <td>26 cm</td>    
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Assiette carrée</td>
      <td>26,5 cm</td>  
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Assiette carrée à dessert</td>
      <td>18 cm</td> 
      <td>0,20€</td>      
    </tr>
    <tr>
      <td>Assiette ronde à dessert</td>
      <td>18 cm</td> 
      <td>0,20€</td>      
    </tr>
  </tbody>    
</table>

<p><sup>*</sup>A rendre lavé sinon ajouter 5 cts par location d'article vaisselle.</p> 

