<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Type de décoration</th>
      <th scope="col">Description</th>  
 
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Décoration lumineuse</td>
      <td>Projecteur lumineux à led (environ 7 ou 8) et extra plat, très facile d’installation.</td>
      <td>70€</td>      
    </tr>
    <tr>
      <td>Décoration lumineuse de salle</td>
      <td>Installation de projecteurs contre les murs, tout autour de la salle. Nous nous occupons du montage et du démontage.</td>     
      <td>120€</td>      
    </tr>
    <tr>
      <td>Rideau lumineux</td>
      <td>Rideau lumineux 4m x 3m composé de 300 LED blanches pures + structure aluminium</td>     
      <td>80€</td>      
    </tr>
  </tbody>  
</table>

