<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Accessoire</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vase Martini</td>
      <td>70 cm de haut, possibilité de location de billes d’eau de différentes couleurs</td>
      <td>6,50€</td>
    </tr>
	  <tr>
	    <td>Vase cylindrique</td>      
      <td>Hauteur 20 cm</td>
      <td>1€</td>
    </tr>
  	  <tr>
	    <td>Vase cylindrique</td>      
      <td>Hauteur 30 ou 40 cm</td>
      <td>2€</td>
    </tr>
  	<tr>
	    <td>Vase coupelle</td>      
      <td>Diamètre 25 cm  Hauteur 8 cm</td>
      <td>2€</td>
    </tr>
    <tr>
	    <td>Vase boule</td>      
      <td>Diamétre 25 cm</td>
      <td>3€</td>
    </tr>
  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Accessoire</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	    <td>Miroir rond</td>      
      <td>Diamètre 35 cm, pour mettre en dessous de vos vases en centre 
          de table</td>
      <td>1,50€</td>
    </tr>
    <tr>
      <td>Billes hydrogel colorées</td>      
      <td>13 couleurs disponibles</td>
      <td>2 euros les 150 billes</td>
    </tr>
    <tr>
	    <td>Chaine de diamants</td>      
      <td>Possibilité de personnaliser la longueur en coupant la chaîne</td>
      <td>0,50€/mètre</td>
    </tr>
    <tr>
	    <td>Diamants</td>      
      <td>Transparents</td>
      <td>3 euros les 500 diamants</td>
    </tr>
    <tr>
	    <td>Bougie LED Submersible</td>      
      <td>Changement graduel de couleurs, intérieur/extérieur</td>
      <td>0,50€/pièce</td>
    </tr>
    <tr>
	    <td>Arbre à dragées</td>      
      <td>120 cm, blanc</td>
      <td>15€</td>
    </tr>
  </tbody>
</table>
