<table class="table">
  <thead>
    <tr>
      <th scope="col">Type de nappe</th>
      <th scope="col">Caractéristiques</th>
      <th scope="col">Dimensions</th>
	    <th scope="col">Capacité</th>
      <th scope="col" colspan="2">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nappe rectangulaire</td>
      <td>100% polyester, blanche</td>
	    <td>1,40m x 2,40m</td>
      <td>6/8 personnes</td>
      <td>8€<sup>*</sup></td>
      <td>5€<sup>**</sup></td>
    </tr>
    <tr>
      <td>Nappe ronde</td>
      <td>100% polyester, blanche</td>
	    <td>Diamètre 2,90m</td>
      <td>8/10 personnes</td>
      <td>8€<sup>*</sup></td>
      <td>5€<sup>**</sup></td>
    </tr>
</table>

<p class="mb-5"><em><sup>*</sup> A rendre non lavées <sup>**</sup> A rendre lavées, séchées, non repassées</em></p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Type d'accessoire</th>
      <th scope="col">Caractéristiques</th>
      <th scope="col">Dimensions</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chemin de table</td>
      <td>Satin</td>
	    <td>30cm x 2,75m</td>
      <td>1€</td>     
    </tr>
    <tr>
      <td>Chemin de table</td>
      <td>Organza</td>
	    <td>30cm x 2,75m</td>
      <td>1€</td>     
    </tr>
        <tr>
      <td>Housse pour mange debout</td>
      <td>Lycra, blanc, noir, ivoire</td>
	    <td>/</td>
      <td>5€</td>     
    </tr>
    <tr>
      <td>Serviettes de table</td>
      <td>Blanches</td>
	    <td>50cm x 50cm</td>
      <td>0.50€</td>     
    </tr>
</table>
