        <table class="table">
  <thead>
    <tr>
      <th scope="col">Type de table</th>
      <th scope="col">Taille</th>
	  <th scope="col">Capacité</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table ronde</td>
      <td>Diamètre 1,60m</td>
	  <td>8 personnes</td>
      <td>9€</td>
    </tr>
    <tr>
	  <td>Table ronde</td>      
      <td>Diamètre 1,80m</td>
	  <td>10 personnes</td>
      <td>13€</td>
    </tr>
	<tr>
	  <td>Table ronde lumineuse (sans nappe)</td>      
      <td>Diamètre 1,60m</td>
	  <td>8 personnes</td>
      <td>15€</td>
    </tr>
	<tr>
	  <td>Table ronde lumineuse (sans nappe)</td>      
      <td>Diamètre 1,80m</td>
	  <td>10 personnes</td>
      <td>19€</td>
    </tr>
  </tbody>
</table>
