.div-home {
  background: linear-gradient($white 0%, $primary 80%);
}

.nav-font {
  color: $black;
}

.home-logo {
  margin-top: 5em;
  margin-bottom: 3em;
}

.margin-home {
  margin-bottom: 30px;
}
.ajust-image {
  width: 556px;
  height: 935px;
}
