{% extends 'basetraiteur.html.twig' %}


{% block title %}KlassTraiteur{% endblock %}

{% block body %}

    <!-- Background picture -->
<section class="home-slider owl-carousel">
    <div class="slider-item .event-slider" style="background-image:url('{{ asset('build/images/livraison3.jpeg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <section class="ftco-section">
                    <div class="container">
                        <div class="row justify-content-center mb-5 pb-2">
                            <div class="col-md-12 text-center heading-section">
                                <span class="menu-traiteur">Klass Traiteur</span>
                                <h2 class="mb-4 h2-event">Offrez de la vraie cuisine à votre femme</h2>
                                <p class="mb-4 h2-event">Livraisons jusqu'à 20 km aux alentours de Strasbourg</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- End Background picture -->

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container-fluid px-0">
            <div class="row d-flex no-gutters">
            <div class="img mr-5">
            <img src="{{ asset('build/images/20km_strass.jpg') }}" height="650px" width="650px" alt="map">
            </div>
            <div class="categories">
                <h3 class="communes  mr-5"><u><B>Découvrez les communes livrées</B></u> :</h3>
                </br>
            <h5 class="ml-5">- Strasbourg</h5>
            <h5 class="ml-5">- Souffelweyersheim</h5>
            <h5 class="ml-5">- Vendenheim</h5>
            <h5 class="ml-5">- Bischheim</h5>
            <h5 class="ml-5">- Schiltigheim</h5>
            <h5 class="ml-5">- Lingolsheim</h5>
            <h5 class="ml-5">- Ostwald</h5>
            <h5 class="ml-5">- La Wantzenau</h5>
                <h3 class="communes mr-5"><u><B>Modalitées de livraison</B></u> :</h3>
                </br>
                <h5 class="ml-5">- Nous livrons jusqu'à 20 km aux alentours de Strasbourg</h5>
                <h5 class="ml-5">- Passer une commande de 3 repas (minimum)</h5>
                <h5 class="ml-5 mb-4">- À partir de 11h30 - 14h30 et 18h00 - 22h30 7j/7j</h5>
                <div class="row">
                    <button type="button" onclick="document.location.href='/traiteur/menus'" class="col-3 btn see ml-5">
                        Voir les menus
                    </button>
                <button type="button" onclick="document.location.href='/login'" class="col-6 bttn command ml-5">
                    Connectez-vous et commander !
                </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Step -->

{% endblock %}
