{% extends 'base.html.twig' %}

{% block title %}Edit Translate{% endblock %}

{% block body %}
    <h1>Edit Translate</h1>

    {{ include('translate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('translate_index') }}">back to list</a>

    {{ include('translate/_delete_form.html.twig') }}
{% endblock %}
