{% extends 'base.html.twig' %}

{% block title %}New Translate{% endblock %}

{% block body %}
    <h1>Create new Translate</h1>

    {{ include('translate/_form.html.twig') }}

    <a href="{{ path('translate_index') }}">back to list</a>
{% endblock %}
